<div class="container content">
  <div class="row">
    <div class="col-sm-12 col-md-3 col-lg-3">
      <aside class="visible-md visible-lg">
        <h4>Pupil Support</h4>
        <% @posts.each do |post| %>
        <h3><%= link_to post.title, post %></h3>
        <% end %>
      </aside>
    </div>
    <div class="col-sm-12 col-md-9 col-lg-9">
      <h1><%= @post.title %></h1>
      <br>
      <p class="date"><%= @post.created_at.strftime("%A, %b %d") %></p>
      <hr>
      <p><%= markdown @post.content %></p>
      <br>
      <br>
      <%= link_to "Edit", edit_post_path(@post) %>&emsp;
      <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
  </div>
</div>